<!DOCTYPE html>
<html>
  <head>
    <title>Nisum Cumpleaños</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <h1>Menú pendiente unir</h1>
    </header>

    <div>
      <h1>¿Quién está de cumpleaños?</h1>
      <form action="" method="GET" id="birthForm">
        <label for="text">Ingresa Fecha Inicio:</label>
        <input type="date" name="fechaInicio" required />
        <hr />
        <label for="num">Ingresa Fecha Fin:</label>
        <input type="date" name="fechaFin" required />
        <hr />
        <button type="submit" value="Buscar">Buscar</button>
      </form>
    </div>
     
      <table id="table"></table>
    
    {{>footer}}
    
    <script src="/js/helper.js"></script>
    <script src="/js/form.js"></script>

  </body>
</html>
