<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Index</title>
</head>
<body>
    <div class="header-content">
        <h1>{{title}}</h1>
        <p id="welcome">Use this site to find out birthdays in Nisum!!</p>
    </div>
    <div class="main-content">

        <div class="text-content" style="align-items:center;">
            
            <div class="row" style="margin: 7% 2%;"><a href="/current-month">Current Month</a></div>
            <div class="row" style="margin: 7% 2%;"><a href="/next-month">Next Month</a></div>
            <div class="row" style="margin: 7% 2%;"><a href="/between-dates">Between Dates</a></div>
            
        </div>
            
        
    </div>
    <div class="footer-content">
        {{>footer}}
    </div>
</body>
</html>