<!DOCTYPE html>
<html>
    <head>
        <title>Nisum Cumpleaños</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <div class="header-content">
            {{>header}}
        </div>
        <div class="main content">
            
            <div class="">
                <h2>Next Month´s Birthdays</h2>
            </div>

                <table id="table"></table>

        </div>
        <div class="footer-content">
            {{>footer}}
        </div>
    <script src="/js/helper.js"></script>
    <script src="/js/next-month.js"></script>

    </body>
</html>