<!DOCTYPE html>
<html>
    <head>
        <title>Nisum Cumpleaños</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <header>
            <h1>Menú pendiente unir</h1>
        </header>
        
        <div>
            <h1>Lista de cumpleaños del próximo mes.</h1>
        </div>

            <table id="table"></table>

        {{>footer}}
    
    <script src="/js/next-month.js"></script>
    </body>
</html>