<!DOCTYPE html>
<html>
    <head>
        <title>Nisum Cumpleaños</title>
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>
        <div class="main content">
            <div class="header-content">
                {{>header}}
            </div>
            
            <div class="">
                <h1>Next Month´s Birthdays</h1>
            </div>

                <table id="table"></table>

            {{>footer}}
        </div>
    <script src="/js/helper.js"></script>
    <script src="/js/next-month.js"></script>

    </body>
</html>