<header>
    <h1>{{title}}</h1>
        <a href="/">Home</a>
        <a href="/currentMonth">Current Month</a>
        <a href="/nextMonth">Next Month</a>
        <a href="/betweenDates">Between Dates</a>
</header>
