<header>
    <h1>{{title}}</h1>
    <p id="welcome">Use this site to find out birthdays in Nisum!!</p>
        <div id="refs-container">
            <a href="/">Home</a>
            <a href="/current-month">Current Month</a>
            <a href="/next-month">Next Month</a>
            <a href="/between-dates">Between Dates</a>
        </div>
</header>

