<h1>{{title}}</h1>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/currentMonth">Current Month</a>
        <a href="/nextMonth">Next Month</a>
        <a href="/betweenDates">Between Dates</a>
    </nav>
</header>
