body {
    color: orange;
    background-color: #59ca64;
}

.main-content {
    font-family: Arial;
    background-color: #357C3C;
    color: #f0456a;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-content{
    margin-top: 16px;
    margin-bottom: 48px;
}

.table-content {
    background-color: whitesmoke;
    height: 40vh;
    padding: 0 10px;
    overflow-y: scroll; 
}

.footer-content {
    border-top: 1px solid #f0456a;
    margin-top: 16px;
    padding: 16px 0;
}
.text-content {
    padding-bottom: 10px;
}

h1 {
    font-size: 40px;
    margin-bottom: 16px;
}

.header-content a {
    color: #357C3C;
    padding: 5px;
    margin-right: 16px;
    text-decoration: none;
    background-color: #f0456a;
}

.header-content a:hover{
    color: #f0456a;
    background-color: #357C3C;
    border: 3px solid #f0456a;
}

thead th:nth-child(1) {
    width: 40%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 25%;
}

th, td {
    padding: 5px;
    text-align: left;
}