@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

body{
    background-color: rgb(8, 124, 201);
    font-family: 'Monda', sans-serif;
    max-width: 800px;
    margin:0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content{
    flex-grow: 1;
    padding-top: 3%;
}

h1{
    color: rgb(4, 252, 252);
    font-size: 45px;
    margin-bottom: 0px;
}

span, #message-1, #welcome{
    color: cyan;
    margin: 2% 1% 1% 1%;
}

label{
    color: cyan;
    font-size: smaller;
    margin: 2% 1% 1% 1%;
}

#bodycontent{
    padding: 0% 2%;
}

img{
    height: 43vh;
    margin: 0px;
    padding: 0px;
}

button, .button{
    text-decoration: none;
    color: rgb(54, 5, 168);
    background-color: aqua;
    padding: 4px;
    margin: 1%;
    border-radius: 3px;
    border: none;
}

.button{
    cursor:grab;
}

a{
    text-decoration: none;
    color: rgb(54, 5, 168);
    background-color: aqua;
    padding: 4px 3px;
    margin: 5% 2% 7% 0%;
    border-radius: 3px;
    border: none;
    line-height: 2em;
}

a:hover{
    background-color: rgb(32, 3, 112);
    color: cyan;
}

.button:hover{
    background-color: rgb(32, 3, 112);
    color: cyan;
}

#footer{
    border-top: 1px dotted rgb(2, 70, 172);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(6, 108, 175);
    color:rgb(23, 4, 190)
}

#header{
    margin: 0;
    padding: 5px 10px;
    background-color: rgb(6, 108, 175);
    
}

.cajaresultados{
    margin-top: 0%;
    padding: 1%;
    overflow-y: scroll; 
    height: 39vh; 
    border-radius: 3px; background-color: rgb(229, 247, 241);
    margin-bottom: 1%;
}

#formulario{
    margin-top: 10px;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

th{
    color:rgb(7, 7, 172); 
    background-color: rgb(4, 252, 252);
}

td{
    color:rgb(7, 7, 143);
    font-size: smaller;
}

thead th:nth-child(1) {
    width: 30%;
}

thead th:nth-child(2) {
    width: 20%;
}

thead th:nth-child(3) {
    width: 15%;
}

thead th:nth-child(4) {
    width: 35%;
}

th, td {
    padding: 5px;
    text-align: left;
}
